@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeekbleMalang2';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OG_Renaissance_Secret';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/OG_Renaissance_Secret-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
